*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
    overflow: hidden;
	background-color: #EEE;
}
/*Header*/
header{
	width: 100%;
	height: 70px;
	background-image: url("../img/header.png");
  	background-size: cover;
  	/*background-attachment: fixed; */
  	position: relative;/* que se quede en el fondo estatico cuando scroll la pagina*/
	display: flex;
}
/*logo de busi connect*/
header .textos-header{
	display: flex;
	width: 50%;
	align-items: center;/*cebtra vertical*/
	justify-content: center;
}
header .textos-header img{
 	width: 55%;
 	margin-top: 10px;
}
/*navegador*/
nav{
	text-align: right;
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	margin-right: 20px;
}
nav > .imagen-user-empresa img{
	border-radius: 50%;
	margin: 16px 0px;
	width: 50px;
}
nav > a{
	color: white;
	font-weight: 300;/*maa ligera*/
	text-decoration: none;/* quitar subrayado de un hipervinculo*/
	margin: 28px 7px;
	display: block;
	align-self: auto;
}
nav > a:hover{/*cuando pase el mouse*/
	text-decoration: underline;/* quitar subrayado de un hipervinculo*/
}
/*titulo predilecto*/
.titulo{
	color: #226f7a;
	font-size: 40px;
	text-align: center;
	margin: 20px 0 20px;
	width: 100%;
}
/*Contenido de las areas*/
.portafolio-areas{ 
	background: #f2f2f2;
}
.contenedor-areas{
	padding: 20px 0px;
	width: 90%;
	max-width: 1000px;
	margin: auto;/*centradp automat*/
	overflow: hidden;/*si algo se quiere salir del contenedor lo esconda*/
}
.areas-herramientas{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;/*si pasa de porcentaje entrarlo*/
}
.imagen-area{
	width: 30%;
	margin-bottom: 20px;
	height: 160px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
}
.imagen-area > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.hover-galeria{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	transform: scale(0);/*desaparesca de la vista la segunda imagen*/
	background: hsla(188, 56%, 31%,0.7);
	transition: transform 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hover-galeria img{
	width: 50px;
}
.hover-galeria p{
	color: #fff;
}
.imagen-area:hover .hover-galeria{
	transform: scale(1)
}
/*Contenido de las herramientas*/
.portafolio-herramientas{
	display: flex;
	position: relative;  	
}
.barra-lateral-herramientas{
	width: 200px;
	height: 100%;
	background: #D9D9D9;
	
	position: fixed;
	justify-content: center;
}
.barra-lateral-herramientas > img{
	margin: 25px;
	border-radius: 50%;
	width: 150px;
	height:  120px;
	border: 2px solid #226f7a;
}
.barra-lateral-herramientas>  ul li{
    padding: 15px;
	border-bottom: 1px solid #bdb8d7;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-top: 1px solid rgba(255,255,255,0.05);
}
.barra-lateral-herramientas>  ul li a{
  	color: #226F7A;
  	display: block;
  	text-decoration: none;/* quitar subrayado de un hipervinculo*/
  	margin-left: 20px
}
.barra-lateral-herramientas>  ul li:hover{
    background-color: #CDCACA;
}
.barra-lateral-herramientas>  ul li:hover a{
    color: #144850;
}
/*contenido del la herrramineta (video y contenido)*/
.contenedor-herramientas{
    width: 100%;
  	margin-left: 200px;

}
.contenido-clase{
	height: 400px;
	display: flex;
	margin: auto;/*centradp automat*/

}
.video-herramienta{
    width: 50%;
  	padding-top: 20px;
	display: flex;
	margin: auto;/*centradp automat*/
}
.video-herramienta iframe{
    width: 415px;
    height: 238px;
    margin: 0 auto;
}
.imagen-herramienta{
    width: 50%;
  	padding-top: 20px;
	display: flex;
	margin: auto;/*centradp automat*/
}
.imagen-herramienta img{
    width: 80%;
    margin: 0 auto;
}

